@model M35SocialNetwork.ViewModels.Account.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>

<a asp-controller="Register" asp-action="RegisterPart2">Регистрация</a>

